<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
  {{>nav}}
    <div class="body-container">
        <div class="l-box">
            <h2>my first project</h2>
            <p>This is about weather api by express js</p>
            <a href="weather"  class="btn">weather</a>
        </div>
        <div class="r-box">
            <img width="80%" src="img/weather.png" alt="">
        </div>
    </div>
    <footer>
        It is made by kripesh mainali for projects
    </footer>
</body>
</html>